.page {
    border: 1px solid black;
    font-family: Open Sans;
    display: flex;
    flex-direction: row;
}

.navbar {
    padding: 5px 10px;
    width: 200px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #1f1f3d;
    color: white;
}

.title {
    font-size: medium;
}

.filter-starred {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: small;
    color: #BFBFDD;
}

.starred-ideas--button {
    height: fit-content;
    width: fit-content;
    background-color: #5356A4;
    padding: 8px 25px;
    font-size: medium;
    margin: 10px 0px;
    font-size: 10px;
    color: white;
    border: 2px solid #5356A4;
    border-style: solid;
    border-radius: 2px;
}

.starred-ideas--button:disabled {
    background-color: #575761;
    border: 2px solid #575761;
    cursor: not-allowed;
  }

hr.divider {
    border-top: 1px solid #353567;
    width: 228px;
    margin-left: -20px;
    opacity: 20%;
}

.right-side {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
  