.user-form--section {
  display: flex;
  background-color: #A9AAD2;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: Open Sans;
}

.hold-form-and-bar {
  flex-shrink: 1;
  flex-basis: 280px;
}

.user-form--section label {
  font-size: 12px;
  font-weight: bolder;
  padding: 4px
}

.user-form--inputs {
  display: flex;
  flex-direction: column;
}

#body-box {
  height: 60px;
  font-size: 12px;
}

.user-form--button {
  font-size: 10px;
  background-color: #1F1F3D;
  color: white;
  border: 2px solid #1F1F3D;
  border-style: solid;
  padding: 5px;
  height: 30px;
  border-radius: 2px;
}

.user-form--searchbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box-search-icon {
  background-color: #1F1F3D;
  width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.search-icon {
  width: 13px;
  background-color: #1F1F3D;
  display: flex;
}

.user-form--searchbar {
  display: flex;
  flex-grow: 1;
  font-size: 9px;
  height: 22px;
  border: 2px solid #1F1F3D;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;

}





.idea-title {
  font-weight: bold;
}

.idea-body {
  font-weight: lighter;
}

.idea-cards--area {
  display: flex;
  flex-wrap: wrap;
}

.idea-card {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin: 10px;
  padding: 5px;
  width: 150px;
}

.card-header {
  background-color: #1F1F3D;
  margin: -5px;
}

.star-active-icon {
  width: 20px;
  height: 20px;
}

.delete-icon {
  width: 20px;
  height: 20px;
  margin-left: 115px;
}

.card-body {
  height: 150px;
}

.card-comments {
  background-color: #5356a4;
  margin: -5px;
  height: 20px;
  display: flex;
  justify-content: start;
  color: #e9e9f3;
  font-size: small;
}

.plus-icon {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: flex-start;
}